*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: var(--body-bg-color);
    color: var(--purple)
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }

main{
    text-align: center;
}

p{
    font-weight: 300;
}

.profilePicture{
    padding: 126px 0 15px;
    width: 200px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 33px 0 68px;
}

ul li{
    border: 2px solid var(--purple);
    border-radius: 4px;
    padding: 12px 140px;
}

ul li a{
    text-decoration: none;
    font-weight: 500;
}

.btnLinks{
    display: flex;
    justify-content: center;
}

.socialLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 29px;
    text-decoration: none;
}